@model CCAF.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Indicates a successful or positive action.
    </div>*@

<div id="ValidationSummary" style="display:none" class="validation-summary-errors">
</div>

<div class="wrapper">

    @*<div class="demo-overlay">
        <div class="demo-second">
            <a href="javascript:void(0);" class="remove2"><img src="~/AcxiomDesign/images/exit.png" title="Close"></a>
            <h2>Alert</h2>
            <p><span id="lblErrorMessage">test</span></p>
            <div class="demo-down">
                <button class="cancel-demo">Cancel</button>
                <button class="cancel-demo">Ok</button>
            </div>
        </div>
    </div>*@

    <div class="top-title"><h2>Reset Password</h2></div>
    <div class="reset-password">
        <h2>Reset Password</h2>
        <div class="submit-deatils">
            <div class="card">

                <div class="card-body px-lg-5 pt-0">


                    @using (Html.BeginForm("PostResetPassword", "Authentication", FormMethod.Post, new { enctype = "multipart/form-data", @class = "text-center" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="md-form">
                            @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control", @style = "border-bottom: 2px solid #fff;", @maxlength = "64" })
                            @Html.LabelFor(m => m.CurrentPassword)
                        </div>
                        <div class="md-form">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @style = "border-bottom: 2px solid #fff;", @maxlength = "64" })
                            @Html.LabelFor(m => m.NewPassword)
                        </div>
                        <div class="md-form">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @style = "border-bottom: 2px solid #fff;", @maxlength = "64" })
                            @Html.LabelFor(m => m.ConfirmPassword)
                        </div>
                            <button type="submit" class="sign-in-btn">Reset Password</button>
                            @*@Html.ValidationSummary("", new { @class = "text-danger", @id = "cls1" })*@
                    }


                </div>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="footer-first">
</div>
<script type="text/javascript" src="~/AcxiomDesign/mdb/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/AcxiomDesign/mdb/js/mdb.min.js"></script>
<script type="text/javascript" src="~/AcxiomDesign/mdb/js/tether.min.js"></script>


@*<script type="text/javascript">
    $(document).ready(function () {
        $('.demo-popup').on('click', function () {
            $('.demo-overlay').fadeIn('500');
        });
        $('.remove2').on('click', function () {
            $('.demo-overlay').fadeOut('500');
        });
        $('.cancel-demo').on('click', function () {
            $('.demo-overlay').fadeOut('500');
        });
    });
</script>*@

@*<script type='text/javascript'>
    $(window).load(function () {
    $('.cls1').on('DOMSubtreeModified', function () {
            alert('changed')
        })
    
        //$('.sign-in-btn').on('click', function () {
        //    //debugger;
        //    $('#lblErrorMessage').html($('#cls1').html())
        //    //$('#lblErrorMessage').text()
        //    $('.demo-overlay').fadeIn('500');
        //})
    });</script>*@


@*<script type='text/javascript'>
    function ShowMessage(msg) {
        debugger;
        $('#lblErrorMessage').text('poi');
            $('.demo-overlay').fadeIn('500');
    }
    function valid() {
        var _CurrentPassword = $('#CurrentPassword').val();
        var _NewPassword = $('#NewPassword').val();
        var _ConfirmPassword = $('#ConfirmPassword').val();
        if (_CurrentPassword == '') {
            ShowMessage('Please provide CurrentPassword.');
            return false;
        }
        else if (_NewPassword == '') {
            ShowMessage('Please provide NewPassword.');
            return false;
        }
        else if (_ConfirmPassword == '') {
            ShowMessage('Please provide ConfirmPassword.');
            return false;
        }
        else if (_ConfirmPassword != _NewPassword) {
            ShowMessage('Password and Confirm Password do not Match.');
            return false;
        }
        else return true;
    }
</script>*@
@Html.Raw(ViewBag.div)
<script type='text/javascript'>
    $(document).ready(function () {
        debugger;
            $(".sign-in-btn").on('click', function () {
                var _CurrentPassword = $('#CurrentPassword').val();
                var _NewPassword = $('#NewPassword').val();
                var _ConfirmPassword = $('#ConfirmPassword').val();
                if (_CurrentPassword == '') {
                    ShowMessage('Please provide CurrentPassword.');
                }
                else if (_NewPassword == '') {
                    ShowMessage('Please provide NewPassword.');
                }
                else if (_ConfirmPassword == '') {
                    ShowMessage('Please provide ConfirmPassword.');
                }
                else if (_ConfirmPassword != _NewPassword) {
                    ShowMessage('Password and Confirm Password do not Match.');
                }
            })
        });
</script>